
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

h1 {
    text-shadow:  rgba(25, 33, 34, 0.623) .5px .5px 5px;
    text-align: center;
    padding: 10px,10px;
    box-shadow: rgba(80, 71, 54, 0.877) 10px 10px 10px;
    border-radius: 20px;
    color: rgb(252, 241, 88);
    background-image: url('/PIC/bg.jpg'); height: 150px;
    font-size: 120px;
    
    
          
}
body {
    background-color: rgba(230, 149, 73, 0.795);
    font-family: 'Jua', sans-serif;
    margin: 2em;
    font-weight: bold,100em;
    
       
}
.album {
    padding: 1em;
}
h2 {
    color: rgb(40, 46, 48);
   
  
}
h3 {
    color: rgb(0, 0, 0);
   background-color: rgba(110, 196, 218, 0.801);
    padding: 10px;
    box-shadow: rgba(38, 58, 59, 0.623) 10px 10px 10px;
    border-radius: 10px;
    text-align: right;
    margin-top: 2em,2em;
    
}
table {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    border: solid 1px 230, 149, 73, 0.656;
 
    
}

th,td,tr {
    border: solid 2px rgba(118, 216, 203, 0.63);
    color: rgb(0, 0, 0);
}
ol {
    font-size: 40px;
    text-align: center;
    color: rgb(8, 8, 8);
    font-weight: 900;
    margin-left: -1em;
   
    
    
}
footer {
    text-align: right;
}

.card-body
{
    background-color: rgba(89, 154, 170, 0.712);
}
 .btn-group {
     background-color: #f12d40;
     color: white;
     font-weight: bold;
     border-radius: 20px;
 }
 .container {
     border-radius: 20px;
     padding-top: 1.5em;
 }
.row {
    border-radius: 20px;
}
.card  {
  
    border-radius: 20px;
}
.ion-social-reddit-outline {
    border-radius: 50%;
    background-color: rgba(102, 150, 197, 0.856);
    box-shadow: dimgray 5px 5px 5px;
}
.img {
    border-radius: 20px;
}
.d-flex justify-content-between align-items-center {
    color: white;
}
