
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

h1 {
    text-shadow:  rgba(25, 33, 34, 0.767) .5px .5px 5px;
    text-align: center;
    padding: 10px,10px;
    box-shadow: rgba(80, 71, 54, 0.877) 10px 10px 10px;
    border-radius: 20px;
    color: rgb(252, 241, 88);
    background-image: url('/PIC/bg.jpg'); height: 150px;
    font-size: 120px;                     
}
body {
    background-image: linear-gradient(to right,rgb(230, 149, 73) 0%,rgb(68, 147, 167) 100%);
    font-family: 'Jua', sans-serif;
    margin: 2em;
    font-weight: bold,100em;    
       }
.album {
    padding: 1em;
}
h2 {
    color: rgb(40, 46, 48);   
  }
h3 {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right,rgb(68, 147, 167) 0%,rgb(230, 149, 73) 100%); 
    padding: 10px;
    box-shadow: rgba(38, 58, 59, 0.623) 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 2em,2em;    
}  
table {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    border: solid 1px 230, 149, 73, 0.656; 
    }
th,td,tr {
    border: solid 2.5px rgba(90, 185, 209, 0.986);
    color: rgb(0, 0, 0);
}
ol {
    font-size: 40px;
    text-align: center;
    color: rgb(8, 8, 8);
    font-weight: 900;
    margin-left: -1em;       
    }   
footer {
    text-align: right;
}
.card-body
{
    background-color: rgba(85, 168, 189, 0.884);    
    border-radius: 20px;
}
 .btn-group {
     background-color: #c44a1a;
     color: white;     
     border-radius: 20px;
 }
 .container {
     border-radius: 20px;
     padding-top: 1.5em;
 }
.row {
    border-radius: 20px;
}
.ion-social-reddit-outline {
    border-radius: 50%;
    background-color: rgba(102, 150, 197, 0.856);
    box-shadow: dimgray 5px 5px 5px;
}
.img {
    border-radius: 20px;
}
.d-flex justify-content-between align-items-center {
    color: white;
    
}
.btn-outline-secondary {
    color: #ececcafd;
    border-color: #6c757d00;
}
.text-muted {
    color: rgb(0, 0, 0)!important;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: rgb(0, 0, 0);
    background-color: #d33b3b;
    border-color: #14161800;
}
.btn {
    border-radius: 20px;
    
}
.btn-outline-secondary:hover {
    color: rgb(24, 16, 16);
    background-color: #e99240;
    border-color: #16191bc4;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;    
} 
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(230, 149, 73, 0);
    background-clip: border-box;
    border: .1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    box-shadow: rgba(38, 58, 59, 0.623) 10px 10px 10px;
}
a {
    border-radius: 20px;
}
@media screen and (max-width: 768px) {
 h1 {
     font-size: 70px;
 }
}